.myCardClass {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  width: 45%;
  height: 60%;
  margin-top: 2%;
  margin-left: 25%;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -10px, -5px);
}

.background {
  background-color: rgb(230, 230, 230);
}

.automate {
  margin-left: 35%;
}
.terminalOutput {
  padding-left: 10px;
  color: white;
}

#myTerminal {
  overflow-y: scroll;
}
