<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><b>Angular Assignment</b></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="margin-left: 5%">
      <li
        [ngClass]="{
          'nav-item': true,
          active: current.includes('home') ? true : false
        }"
      >
        <a class="nav-link" href="#"><b>Student</b></a>
      </li>
      <li
        [ngClass]="{
          'nav-item': true,
          active: current.includes('calculator') ? true : false
        }"
        style="margin-left: 10%"
      >
        <a class="nav-link" href="/calculator"><b>Calculator</b></a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
