.table-header {
    height: 50px;
    width: 150px;
    background-color: darkslategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: honeydew;
    font-size: large;
}
.table-data {
    height: 50px;
    width: 120px;
    background-color: grey;
    color: honeydew;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight:bold;

}

.table-header {

    background-color: black;
}

.clicked{
    background-color: #FFF;
    text-align: center;
    font: "Palatino Linotype", "Book Antiqua", Palatino, Serif;
    font-size: 14px;
    color: #003299;
}
.arrow-up
{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
}
.arrow-down
{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid black;
}