body {
    background-image: url('./images/pexels-francesco-ungaro-281260.jpg');
}

h1, h3, h4, pre, span, p, a, label {
    color: white;
}

.container {
    border-width: 5px;
    border-style: solid;
    border-color: black;
    height: auto;

}

#ProfilePic {
    height: 250px;
    width: 300px;
    padding: 20px;
}

#experience, #projects {
    padding-top: 10px;
    height: 90px;
    width: 90px;
}

.container {
    margin-top: 50px;
    box-shadow: 5px 10px;;
}