.myCardClass {
  padding-top: 2%;
  float: left;
  padding-right: 2%;
  padding-bottom: 5%;
  width: 40%;
  height: 60%;
  margin-top: 2%;
  margin-left: 3%;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
  transform: translate3d(0px, -10px, -5px);
}

.background {
  background-color: rgb(230, 230, 230);
}

.show {
  display: block;
}

.automate {
  margin-left: 30%;
}
